<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            @await Component.InvokeAsync("PetTable")
        </div>
        <div class="col-md-5">
            @*@await Component.InvokeAsync("PetCreate")*@
        </div>
    </div>
</div>